---
layout: post
title: Tidy Data in Python
---

In [2]:
import pandas as pd
import datetime
from os import listdir
from os.path import isfile, join

### 3.1 Column headers are values, not variable names

#### Pew Research Center Dataset

In [109]:
df = pd.read_csv("./data/pew-raw.csv")
df

,religion,<$10k,$10-20k,$20-30k,$30-40k,$40-50k,$50-75k
0,Agnostic,27,34,60,81,76,137
1,Atheist,12,27,37,52,35,70
2,Buddhist,27,21,30,34,33,58
3,Catholic,418,617,732,670,638,1116
4,Dont know/refused,15,14,15,11,10,35
5,Evangelical Prot,575,869,1064,982,881,1486
6,Hindu,1,9,7,9,11,34
7,Historically Black Prot,228,244,236,238,197,223
8,Jehovahs Witness,20,27,24,24,21,30
9,Jewish,19,19,25,25,30,95

In [110]:
formatted_df = pd.melt(df,["religion"], var_name="income", value_name="freq")
formatted_df = formatted_df.sort_values(by=["religion"])
formatted_df.head(10)

    religion    income  freq
0   Agnostic     <$10k    27
30  Agnostic   $30-40k    81
40  Agnostic   $40-50k    76
50  Agnostic   $50-75k   137
10  Agnostic   $10-20k    34
20  Agnostic   $20-30k    60
41   Atheist   $40-50k    35
21   Atheist   $20-30k    37
11   Atheist   $10-20k    27
31   Atheist   $30-40k    52

#### Billboard Top 100 Dataset

In [152]:
df = pd.read_csv("./data/billboard.csv")
df.head(10)

,year,artist.inverted,track,time,genre,date.entered,date.peaked,x1st.week,x2nd.week,x3rd.week,...,x67th.week,x68th.week,x69th.week,x70th.week,x71st.week,x72nd.week,x73rd.week,x74th.week,x75th.week,x76th.week
0,2000,Destiny's Child,Independent Women Part I,3:38,Rock,2000-09-23,2000-11-18,78,63.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000,Santana,"Maria, Maria",4:18,Rock,2000-02-12,2000-04-08,15,8.0,6.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000,Savage Garden,I Knew I Loved You,4:07,Rock,1999-10-23,2000-01-29,71,48.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000,Madonna,Music,3:45,Rock,2000-08-12,2000-09-16,41,23.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000,"Aguilera, Christina",Come On Over Baby (All I Want Is You),3:38,Rock,2000-08-05,2000-10-14,57,47.0,45.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,2000,Janet,Doesn't Really Matter,4:17,Rock,2000-06-17,2000-08-26,59,52.0,43.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2000,Destiny's Child,Say My Name,4:31,Rock,1999-12-25,2000-03-18,83,83.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2000,"Iglesias, Enrique",Be With You,3:36,Latin,2000-04-01,2000-06-24,63,45.0,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2000,Sisqo,Incomplete,3:52,Rock,2000-06-24,2000-08-12,77,66.0,61.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2000,Lonestar,Amazed,4:25,Country,1999-06-05,2000-03-04,81,54.0,44.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [153]:
# Melting
id_vars = ["year","artist.inverted","track","time","genre","date.entered","date.peaked"]
df = pd.melt(frame=df,id_vars=id_vars, var_name="week", value_name="rank")

# Formatting the Week Column properly
df["week"] = df['week'].str.extract('(\d+)', expand=False).astype(int)

# Cleaning out unnecessary rows
df = df.dropna()
df = df.sort_values(ascending=True, by=["year","artist.inverted","track","week","rank"])
df["week"] = df["week"].astype(int)
df["rank"] = df["rank"].astype(int)

# Adding a new column named "date" 
def return_week_date(row):
    start_date = datetime.datetime.strptime(row['date.entered'], '%Y-%m-%d')
    week_delta = datetime.timedelta(weeks=(row['week']-1))
    return start_date + week_delta
    
df["date"] = df.apply(lambda row: return_week_date(row), axis=1)

del df["date.entered"]
del df["date.peaked"]

billboard = df
df.head(10)

,year,artist.inverted,track,time,genre,week,rank,date
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25
1831,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,6,94,2000-04-01
2148,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,7,99,2000-04-08
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1,91,2000-09-02
604,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2,87,2000-09-09
921,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,3,92,2000-09-16

### 3.2. Multiple variables stored in one column

#### Tubercolosis Example

A few notes on the raw data set:

- The columns starting with "m" or "f" contain multiple variables: 
    - Sex ("m" or "f")
    - Age Group ("0-14","15-24", "25-34", "45-54", "55-64", "65", "unknown")
- Mixture of 0s and missing values("NaN"). This is due to the data collection process and the distinction is important for this dataset.

In [58]:
df = pd.read_csv("./data/tb-raw.csv")

In [59]:
df

  country  year  m014  m1524  m2534  m3544  m4554  m5564  m65  mu  f014
0      AD  2000     0      0      1      0      0      0    0 NaN   NaN
1      AE  2000     2      4      4      6      5     12   10 NaN     3
2      AF  2000    52    228    183    149    129     94   80 NaN    93
3      AG  2000     0      0      0      0      0      0    1 NaN     1
4      AL  2000     2     19     21     14     24     19   16 NaN     3
5      AM  2000     2    152    130    131     63     26   21 NaN     1
6      AN  2000     0      0      1      2      0      0    0 NaN     0
7      AO  2000   186    999   1003    912    482    312  194 NaN   247
8      AR  2000    97    278    594    402    419    368  330 NaN   121
9      AS  2000   NaN    NaN    NaN    NaN      1      1  NaN NaN   NaN

In [60]:
df = pd.melt(df, id_vars=["country","year"], value_name="cases", var_name="sex_and_age")

# Extract Sex, Age lower bound and Age upper bound group
tmp_df = df["sex_and_age"].str.extract("(\D)(\d+)(\d{2})")    

# Name columns
tmp_df.columns = ["sex", "age_lower", "age_upper"]

# Age
tmp_df["age"] = tmp_df["age_lower"] + "-" + tmp_df["age_upper"]

# Merge 
df = pd.concat([df, tmp_df], axis=1)

# Drop unnecessary columns and rows
df = df.drop(['sex_and_age',"age_lower","age_upper"], axis=1)
df = df.dropna()
df = df.sort(ascending=True,columns=["country", "year", "sex", "age"])
df.head(10)

   country  year  cases sex    age
0       AD  2000      0   m   0-14
10      AD  2000      0   m  15-24
20      AD  2000      1   m  25-34
30      AD  2000      0   m  35-44
40      AD  2000      0   m  45-54
50      AD  2000      0   m  55-64
81      AE  2000      3   f   0-14
1       AE  2000      2   m   0-14
11      AE  2000      4   m  15-24
21      AE  2000      4   m  25-34

### 3.3 Variables are stored in both rows and columns

#### Global Historical Climatology Network Dataset

In [60]:
df = pd.read_csv("./data/weather-raw.csv")

In [61]:
df

         id  year  month element  d1    d2    d3  d4    d5  d6  d7  d8
0   MX17004  2010      1    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
1   MX17004  2010      1    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
2  MX17004   2010      2    tmax NaN  27.3  24.1 NaN   NaN NaN NaN NaN
3   MX17004  2010      2    tmin NaN  14.4  14.4 NaN   NaN NaN NaN NaN
4   MX17004  2010      3    tmax NaN   NaN   NaN NaN  32.1 NaN NaN NaN
5   MX17004  2010      3    tmin NaN   NaN   NaN NaN  14.2 NaN NaN NaN
6   MX17004  2010      4    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
7   MX17004  2010      4    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN
8   MX17004  2010      5    tmax NaN   NaN   NaN NaN   NaN NaN NaN NaN
9   MX17004  2010      5    tmin NaN   NaN   NaN NaN   NaN NaN NaN NaN

In [62]:
df = pd.melt(df, id_vars=["id", "year","month","element"], var_name="day_raw")

# Extracting day
df["day"] = df["day_raw"].str.extract("d(\d+)", expand=False)  

# To numeric values
df[["year","month","day"]] = df[["year","month","day"]].apply(lambda x: pd.to_numeric(x, errors='ignore'))

# Creating a date from the different columns
def create_date_from_year_month_day(row):
    return datetime.datetime(year=row["year"], month=int(row["month"]), day=row["day"])

df["date"] = df.apply(lambda row: create_date_from_year_month_day(row), axis=1)
df = df.drop(['year',"month","day", "day_raw"], axis=1)
df = df.dropna()



# Unmelting column "element"
tmp_df = df.pivot(columns="element")["value"]
df = pd.concat([df,tmp_df], axis=1)
df = df.drop(["element","value"], axis=1)

df.head(10)

          id       date  tmax  tmin
12  MX17004  2010-02-02  27.3   NaN
13   MX17004 2010-02-02   NaN  14.4
22  MX17004  2010-02-03  24.1   NaN
23   MX17004 2010-02-03   NaN  14.4
44   MX17004 2010-03-05  32.1   NaN
45   MX17004 2010-03-05   NaN  14.2

### 3.4 Multiple types in one table

In [156]:
billboard.head(10)

,year,artist.inverted,track,time,genre,week,rank,date
246,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,1,87,2000-02-26
563,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,2,82,2000-03-04
880,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,3,72,2000-03-11
1197,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,4,77,2000-03-18
1514,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,5,87,2000-03-25
1831,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,6,94,2000-04-01
2148,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,7,99,2000-04-08
287,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1,91,2000-09-02
604,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,2,87,2000-09-09
921,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,3,92,2000-09-16

In [157]:
songs_cols = ["year", "artist.inverted", "track", "time", "genre"]
songs = billboard[songs_cols].drop_duplicates()
songs = songs.reset_index(drop=True)
songs["song_id"] = songs.index
songs.head(10)

,year,artist.inverted,track,time,genre,song_id
0,2000,2 Pac,Baby Don't Cry (Keep Ya Head Up II),4:22,Rap,0
1,2000,2Ge+her,The Hardest Part Of Breaking Up (Is Getting Ba...,3:15,R&B,1
2,2000,3 Doors Down,Kryptonite,3:53,Rock,2
3,2000,3 Doors Down,Loser,4:24,Rock,3
4,2000,504 Boyz,Wobble Wobble,3:35,Rap,4
5,2000,98�,Give Me Just One Night (Una Noche),3:24,Rock,5
6,2000,A*Teens,Dancing Queen,3:44,Pop,6
7,2000,Aaliyah,I Don't Wanna,4:15,Rock,7
8,2000,Aaliyah,Try Again,4:03,Rock,8
9,2000,"Adams, Yolanda",Open My Heart,5:30,Gospel,9

In [161]:
ranks = pd.merge(billboard, songs, on=["year","artist.inverted", "track", "time", "genre"])
ranks = ranks[["song_id", "date","rank"]]
ranks.head(10)

   song_id       date  rank
0        0 2000-02-26    87
1        0 2000-03-04    82
2        0 2000-03-11    72
3        0 2000-03-18    77
4        0 2000-03-25    87
5        0 2000-04-01    94
6        0 2000-04-08    99
7        1 2000-09-02    91
8        1 2000-09-09    87
9        1 2000-09-16    92

### 3.5. One type in multiple tables

In [168]:
mypath = "./data/"
onlyfiles = [f for f in listdir(mypath) if isfile(join(mypath, f))]

In [169]:
onlyfiles

['2014-baby-names-illinois.csv',
 '2015-baby-names-illinois.csv',
 'billboard.csv',
 'billboard.r',
 'melt-output.tex',
 'melt-raw.tex',
 'melt.r',
 'pew-clean.tex',
 'pew-raw.csv',
 'pew-raw.tex',
 'pew.r',
 'pew.sav',
 'preg-raw-1.tex',
 'preg-raw-2.tex',
 'preg-tidy.tex',
 'preg.R',
 'read-fwf.r',
 'tb-clean-1.tex',
 'tb-clean-2.tex',
 'tb-raw.csv',
 'tb-raw.tex',
 'tb.csv',
 'tb.r',
 'weather-clean-1.tex',
 'weather-clean-2.tex',
 'weather-raw.csv',
 'weather-raw.tex',
 'weather.r',
 'weather.txt',
 'xtable.r']

In [ ]:
df = None

def split_by_sex_into_df(df):
    dfs = []
    for sex in ["male", "female"]:
        tmp_df = standardize_baby_name_df(df, sex)
        dfs.append(tmp_df)
    return dfs
        
def standardize_baby_name_df(df, sex):
    raw_columns = {
        "male": ["Rank", "Male Name", "Number of males", "year", "state"]
        "female": ["Rank", "Female Name", "Number of females", "year", "state"]
    }
    df = tmp_df[raw_columns[sex]]
    df.columns = ["rank", "name", "count", "year", "state"]
    df["sex"] = sex
    return sex

def is_baby_names_files(filename):
    return True

def 
def create_single_df_from_multi_baby_names_files(files_list):
    for filename in files_list:
        if is_baby_names_file(filename):
            year, state = parse_baby_name_file(filename)
            tmp_df = pd.read_csv("./data/", filename)
            tmp_df["state"] = state
            tmp_df["year"] = year
            dfs = split_by_sex_into_df(dfs)
            df